# Default site wide settings
# If skip_processing = true, all other settings are ignored
[build.processing]
  skip_processing = false
[build.processing.css]
  bundle = true
  minify = false
[build.processing.js]
  bundle = true
  minify = false
[build.processing.html]
  pretty_urls = true
[build.processing.images]
  compress = true


# Redirect Configuration Site
[[redirects]]
  from = "https://sungnikah.netlify.com"
  to = "https://sungnikah.com"
  status = 301
  force = true